## ############################################################################
## Checkout deleted committed file
## ############################################################################
## git log --all --full-history -- "FILEPATH"
## git rev-list HEAD -n 1 -- FILEPATH
## git checkout COMMIT-CHECKSUM^ FILEPATH


## ############################################################################
## GIT IGNORE
## ############################################################################
.DS_STORE
build
.built
package-lock.json
node_modules