/***********************************************
 * Color Schemes
 ***********************************************/
@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light dark;
        --background1: white;
        --background2: whitesmoke;
        --background3: gainsboro;
        --color1: dimgray;
        --color2: darkslategray;
        --color3: darkorange;
        --border1: black;
        --border2: dimgray;
        --outline1: gainsboro;
        --outline2: dimgray;
    }
    .lite {}
    .dark { display: none; }
}
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light dark;
        --background1: dimgray;
        --background2: gray;
        --color1: white;
        --color2: gainsboro;
        --color3: firebrick;
        --border1: white;
        --border2: gainsboro;
        --outline1: dimgray;
        --outline2: whitesmoke;
    }
    .lite { display: none; }
    .dark {}
}


/***********************************************
 * Screen
 ***********************************************/
@media screen and (max-width: 699px) {
    screenS  {}
    screenSM {}
    screenM  { display: none; }
    screenML { display: none; }
    screenL  { display: none; }
}
@media screen and (min-width: 700px) and (max-width: 1199px) {
    screenS  { display: none; }
    screenSM {}
    screenM  {}
    screenML {}
    screenL  { display: none; }
}
@media screen and (min-width: 1200px) {
    screenS  { display: none; }
    screenSM { display: none; }
    screenM  { display: none; }
    screenML {}
    screenL  {}
}


/***********************************************
 * Baseline Style Settings
 ***********************************************/
html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding:  0px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
}
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding:  0px;
    color: var(--color1);
    background-color: var(--background1);
    border-color:  var(--border1);
    outline-color: var(--outline1);
}


/***********************************************
 * Fill Available Space
 ***********************************************/
.fill {
    height: 100%;
    width: 100%;
}
.fill-height {
    height:  100%;
}
.fill-width {
    width:  100%;
}


/***********************************************
 * Font
 ***********************************************/
.font-size-1 { font-size:  10px!important; }
.font-size-2 { font-size:  12px!important; }
.font-size-3 { font-size:  14px!important; }
.font-size-4 { font-size:  18px!important; }
.font-size-5 { font-size:  22px!important; }
.font-size-6 { font-size:  24px!important; }
.font-weight-bold { font-weight: bold; }
.font-weight-normal { font-weight: normal; }
.font-weight-light { font-weight: light; }


/***********************************************
 * Borders
 ***********************************************/
.border-none {
    border: none;
}
.border-1 {
    border: solid var(--border1) 1px;
}
.border-2 {
    border: solid var(--border2) 1px;
}
.border-radius-none {
    border-radius:  none;
}
.border-radius-1 {
    border-radius:  10px;
}
.border-radius-2 {
    border-radius:  20px;
}


/***********************************************
 * Colors
 ***********************************************/
.colors-1 {
    color:  var(--color1);
    background-color: var(--background1);
    border-color: var(--border1);
    outline-color: var(--outline1);
}
.colors-2 {
    color:  var(--color2);
    background-color: var(--background2);
    border-color: var(--border2);
    outline-color: var(--outline2);
}


/***********************************************
 * Flex
 ***********************************************/
.flex-h-ss {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-h-cs {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.flex-h-es {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}
.flex-h-sc {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-h-cc {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex-h-ec {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.flex-h-se {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}
.flex-h-ce {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.flex-h-ee {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.flex-v-ss {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-v-cs {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}.flex-v-es {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}
.flex-v-sc {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-v-cc {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex-v-ec {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.flex-v-se {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}
.flex-v-ce {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.flex-v-ee {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}


/***********************************************
 * Input Styles
 ***********************************************/
.input-1 {
    font-size: 12px;
    line-height: 20px;
    height: 30px;
}
