/***********************************************
 * Color Schemes
 ***********************************************/
@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light dark;
        --background1: white;
        --background2: whitessmoke;
        --color1: black;
        --color2: dimgray;
        --border1: solid black 1px;
        --border2: solid dimgray 1px;
        --outline1: dotted gainsboro 1px;
        --outline2: dotted dimgray 1px;
    }
    .lite {}
    .dark { display: none; }
}
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light dark;
        --background1: dimgray;
        --background2: gray;
        --color1: white;
        --color2: gainsboro;
        --border1: solid white 1px;
        --border2: solid gainsboro 1px;
        --outline1: dotted dimgray 1px;
        --outline2: dotted whitesmoke 1px;
    }
    .lite { display: none; }
    .dark {}
}


/***********************************************
 * Standardize the Baseline
 ***********************************************/
html {
    color: var(--color1);
    background-color: var(--background1);
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
* {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding:  0px;
}


/***********************************************
 * Screen
 ***********************************************/
@media screen and (max-width: 699px) {
    screenS  {}
    screenSM {}
    screenM  { display: none; }
    screenML { display: none; }
    screenL  { display: none; }
}
@media screen and (min-width: 700px) and (max-width: 1199px) {
    screenS  { display: none; }
    screenSM {}
    screenM  {}
    screenML {}
    screenL  { display: none; }
}
@media screen and (min-width: 1200px) {
    screenS  { display: none; }
    screenSM { display: none; }
    screenM  { display: none; }
    screenML {}
    screenL  {}
}


/***********************************************
 * Borders
 ***********************************************/
.border-none {
    border: none;
}
.border-1 {
    border: var(--border1);
}
.border-2 {
    border: var(--border2);
}
.border-radius-none {
    border-radius:  none;
}
.border-radius-1 {
    border-radius:  10px;
}
.border-radius-2 {
    border-radius:  20px;
}


/***********************************************
 * Flex
 ***********************************************/
.flex-h-ss {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-h-cs {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.flex-h-es {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}
.flex-h-sc {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-h-cc {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex-h-ec {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.flex-h-se {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}
.flex-h-ce {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.flex-h-ee {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.flex-v-ss {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-v-cs {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}.flex-v-es {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}
.flex-v-sc {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-v-cc {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex-v-ec {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.flex-v-se {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}
.flex-v-ce {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.flex-v-ee {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}


/***********************************************
 * Basic Widget Styling
 ***********************************************/
.widget {
}


/***********************************************
 * Font
 ***********************************************/
.font1 { font-size:  20px!important; }
.font2 { font-size:  18px!important; }
.font3 { font-size:  16px!important; }
.font4 { font-size:  14px!important; }
.font5 { font-size:  12px!important; }
.bold { font-weight: bold; }
.normal { font-weight: normal; }
.light { font-weight: light; }
