/***********************************************
 * Color Schemes
 ***********************************************/
@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light dark;
${light}
    }
    .lite {}
    .dark { display: none; }
}
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light dark;
${dark}
    }
    .lite { display: none; }
    .dark {}
}


/***********************************************
 * Screen
 ***********************************************/
@media screen and (max-width: 699px) {
    .screen-s  {}
    .screen-sm {}
    .screen-m  { display: none; }
    .screen-ml { display: none; }
    .screen-l  { display: none; }
}
@media screen and (min-width: 700px) and (max-width: 1299px) {
    .screen-s  { display: none; }
    .screen-sm {}
    .screen-m  {}
    .screen-ml {}
    .screen-l  { display: none; }
}
@media screen and (min-width: 1300px) {
    .screen-s  { display: none; }
    .screen0sm { display: none; }
    .screen-m  { display: none; }
    .screen-ml {}
    .screen-l  {}
}


/***********************************************
 * HTML
 ***********************************************/
html {
    --font-size-1: 7pt;
    --font-size-2: 8pt;
    --font-size-3: 10pt;
    --font-size-4: 12pt;
    --font-size-5: 14pt;
    --font-size-6: 16pt;
    --font-size-7: 20pt;
    --font-size-8: 24pt;
    --font-size-9: 28pt;
    --font-family-sans: Avenir, Helvetica, Arial, sans-serif;
    --font-family-serif: Times New Romas;
    --font-family-fixed: Courier, Courier New;
    --border-radius-0: 0px;
    --border-radius-1: 6px;
    --border-radius-2: 12px;
    --border-radius-3: 20px;
    --border-radius-4: 30px;
    --border-radius-5: 40px;
}


/***********************************************
 * Body Style
 ***********************************************/
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family-sans);
    font-size: var(--font-size-4);
}


/***********************************************
 * Colors
 ***********************************************/
.main-color {
    color: var(--main-color);
    --color: var(--main-color);
}
.main-background-color {
    background-color: var(--main-background-color);
    background-color: var(--main-background-color);
}
.main-border-color {
    border-color: var(--main-border-color);
    --border-color: var(--main-border-color);
}
.main-outline-color {
    outline-color: var(--main-outline-color);
    --outline-color: var(--main-outline-color);
}
.main-hover-color {
    --hover-color: var(--main-hover-color);
}
.main-hover-background-color {
    --hover-background-color: var(--main-hover-background-color);
}
.main-colors {
    color: var(--main-color);
    background-color: var(--main-background-color);
    border-color: var(--main-border-color);
    outline-color: var(--main-outline-color);
    --color: var(--main-color); 
    background-color: var(--main-background-color);
    --border-color: var(--main-border-color);
    --outline-color: var(--main-outline-color);
    --hover-color: var(--main-hover-color);
    --hover-background-color: var(--main-hover-background-color);
}
.alt-color {
    color: var(--alt-color);
    --color: var(--alt-color);
}
.alt-background-color {
    background-color: var(--alt-background-color);
    --background-color: var(--alt-background-color);
}
.alt-border-color {
    border-color: var(--alt-border-color);
    --border-color: var(--alt-border-color);
}
.alt-outline-color {
    outline-color: var(--alt-outline-color);
    --outline-color: var(--alt-outline-color);
}
.alt-hover-color {
    --hover-color: var(--alt-hover-color);
}
.alt-hover-background-color {
    --hover-background-color: var(--alt-hover-background-color);
}
.alt-colors {
    color: var(--alt-color);
    background-color: var(--alt-background-color);
    border-color: var(--alt-border-color);
    outline-color: var(--alt-outline-color);
    --color: var(--alt-color); 
    background-color: var(--alt-background-color);
    --border-color: var(--alt-border-color);
    --outline-color: var(--alt-outline-color);
    --hover-color: var(--alt-hover-color);
    --hover-background-color: var(--alt-hover-background-color);
}


/***********************************************
 * Font
 ***********************************************/
.font-size-1 {
    font-size: var(--font-size-1);
}
.font-size-2 {
    font-size: var(--font-size-2);
}
.font-size-3 {
    font-size: var(--font-size-3);
}
.font-size-4 {
    font-size: var(--font-size-4);
}
.font-size-5 {
    font-size: var(--font-size-5);
}
.font-size-6 {
    font-size: var(--font-size-6);
}
.font-size-7 {
    font-size: var(--font-size-7);
}
.font-size-8 {
    font-size: var(--font-size-8);
}
.font-size-9 {
    font-size: var(--font-size-9);
}
.font-family-sans {
    font-family: var(--font-family-sans);
}
.font-family-serif {
    font-family: var(--font-family-serif);
}
.font-family-fixed { 
    font-family: var(--font-family-fixed);
}
.font-weight-bold {
    font-weight: bold;
}
.font-weight-normal {
    font-weight: normal;
}
.font-weight-light {
    font-weight: light;
}


/***********************************************
 * Height Width
 ***********************************************/
.fill {
    height: 100%;
    width: 100%;
}
.fill-x {
    width: 100%;
}
.fill-y {
    height: 100%;
}
.auto {
    height: auto;
    width: auto;
}
.auto-x {
    width: auto;
}
.auto-y {
    height: auto;
}


/***********************************************
 * Margins
 ***********************************************/
.margin-0 {
    margin: 0px;
}
.margin-left-0 {
    margin-left: 0px;
}
.margin-right-0 {
    margin-right: 0px;
}
.margin-top-0 {
    margin-top: 0px;
}
.margin-bottom-0 {
    margin-bottom: 0px;
}
.margin-3 {
    margin: 3px;
}
.margin-left-3 {
    margin-left: 3px;
}
.margin-right-3 {
    margin-right: 3px;
}
.margin-top-3 {
    margin-top: 3px;
}
.margin-bottom-3 {
    margin-bottom: 3px;
}
.margin-6 {
    margin: 6px;
}
.margin-left-6 {
    margin-left: 6px;
}
.margin-right-6 {
    margin-right: 6px;
}
.margin-top-6 {
    margin-top: 6px;
}
.margin-bottom-6 {
    margin-bottom: 6px;
}
.margin-12 {
    margin: 12px;
}
.margin-left-12 {
    margin-left: 12px;
}
.margin-right-12 {
    margin-right: 12px;
}
.margin-top-12 {
    margin-top: 12px;
}
.margin-bottom-12 {
    margin-bottom: 12px;
}


/***********************************************
 * Padding
 ***********************************************/
.padding-0 {
    padding: 0px;
}
.padding-left-0 {
    padding-left: 0px;
}
.padding-right-0 {
    padding-right: 0px;
}
.padding-top-0 {
    padding-top: 0px;
}
.padding-bottom-0 {
    padding-bottom: 0px;
}
.padding-3 {
    padding: 3px;
}
.padding-left-3 {
    padding-left: 3px;
}
.padding-right-3 {
    padding-right: 3px;
}
.padding-top-3 {
    padding-top: 3px;
}
.padding-bottom-3 {
    padding-bottom: 3px;
}
.padding-6 {
    padding: 6px;
}
.padding-left-6 {
    padding-left: 6px;
}
.padding-right-6 {
    padding-right: 6px;
}
.padding-top-6 {
    padding-top: 6px;
}
.padding-bottom-6 {
    padding-bottom: 6px;
}
.padding-12 {
    padding: 12px;
}
.padding-left-12 {
    padding-left: 12px;
}
.padding-right-12 {
    padding-right: 12px;
}
.padding-top-12 {
    padding-top: 12px;
}
.padding-bottom-12 {
    padding-bottom: 12px;
}


/***********************************************
 * Border
 ***********************************************/
.border-style-none {
    border-style: none;
}
.border-style-dotted {
    border-style: dotted;
}
.border-style-dashed {
    border-style: dashed;
}
.border-style-solid {
    border-style: solid;
}
.border-style-hidden {
    border-style: hidden;
}
.border-width-0 {
    border-width: 0px;
}
.border-width-1 {
    border-width: 1px;
}
.border-width-2 {
    border-width: 2px;
}
.border-width-3 {
    border-width: 3px;
}
.border-width-4 {
    border-width: 4px;
}
.border-width-5 {
    border-width: 5px;
}
.border-radius-0 {
    border-radius: var(--border-radius-0);
}
.border-radius-1 {
    border-radius: var(--border-radius-1);
}
.border-radius-2 {
    border-radius: var(--border-radius-2);
}
.border-radius-3 {
    border-radius: var(--border-radius-3);
}
.border-radius-4 {
    border-radius: var(--border-radius-4);
}
.border-radius-5 {
    border-radius: var(--border-radius-5);
}


/***********************************************
 * Outline
 ***********************************************/
.outline-style-none {
    outline-style: none;
    --outline-style: none;
}
.outline-style-dotted {
    outline-style: dotted;
    --outline-style: dotted;
}
.outline-style-dashed {
    outline-style: dashed;
    --outline-style: dashed;
}
.outline-style-solid {
    outline-style: solid;
    --outline-style: solid;
}
.outline-width-0 {
    outline-width: 0px;
    --outline-width: 0px;
}
.outline-width-1 {
    outline-width: 1px;
    --outline-width: 1px;
}
.outline-width-2 {
    outline-width: 2px;
    --outline-width: 2px;
}
.outline-width-3 {
    outline-width: 3px;
    --outline-width: 3px;
}
.outline-width-4 {
    outline-width: 4px;
    --outline-width: 4px;
}
.outline-width-5 {
    outline-width: 5px;
    --outline-width: 5px;
}


/***********************************************
 * Flex
 ***********************************************/
.flex-h-ss {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-h-cs {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.flex-h-es {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}
.flex-h-sc {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-h-cc {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex-h-ec {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.flex-h-se {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}
.flex-h-ce {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.flex-h-ee {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.flex-v-ss {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-v-cs {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}.flex-v-es {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}
.flex-v-sc {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-v-cc {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex-v-ec {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.flex-v-se {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}
.flex-v-ce {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.flex-v-ee {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}


/***********************************************
 * Link
 ***********************************************/
[widget-style=link], [widget-style=link]:active, [widget-style=link]:visited {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: none;
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-color);
    background-color: var(--widget-background-color);
}
[widget-style=link]:hover {
    color: var(--widget-hover-color);
    background-color: var(--widget-hover-background-color);
    outline-style: solid;
    outline-color: var(--widget-hover-outline-color);
}
[widget-style=link]:focus {
    color: var(--widget-focus-color);
    background-color: var(--widget-focus-background-color);
}


/***********************************************
 * Input
 ***********************************************/
[widget-style=input] {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-color);
    background-color: var(--widget-background-color);
    border-color: var(--widget-border-color);
}
[widget-style=input]:hover {
    color: var(--widget-hover-color);
    background-color: var(--widget-hover-background-color);
}
[widget-style=input]:focus {
    border-color: transparent;
    outline-style: solid;
    outline-color: var(--outline-color);
    outline-width: var(--widget-outline-width);
}
[widget-style=input]:invalid {
    outline-style: none;
    color: var(--widget-error-color);
    background-color: var(--widget-error-background-color);
    border-color: var(--widget-error-border-color);
}
[widget-style=inputdisabled] {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-disabled-color);
    background-color: var(--widget-disabled-background-color);
    border-color: var(--widget-disabled-border-color);
}


/***********************************************
 * Input Button
 ***********************************************/
[widget-style=button] {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-color);
    background-color: var(--widget-background-color);
    border-color: var(--widget-border-color);
}
[widget-style=button]:hover {
    color: var(--widget-hover-color);
    background-color: var(--widget-hover-background-color);
    cursor: pointer;
}
[widget-style=button]:focus {
    color: var(--widget-focus-color);
    background-color: var(--widget-focus-background-color);
    border-color: transparent;
    outline-style: solid;
    outline-color: var(--outline-color);
    outline-width: var(--widget-outline-width);
}
[widget-style=buttondisabled] {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-disabled-color);
    background-color: var(--widget-disabled-background-color);
    border-color: var(--widget-disabled-border-color);
}


/***********************************************
 * Input Checkbox
 ***********************************************/
[widget-style=checkbox] {
    width: 32px;
    height: 32px;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-color);
    background-color: var(--widget-background-color);
    outline-color: var(--widget-outline-color);
}
[widget-style=checkbox]:hover {
    color: var(--widget-hover-color);
    background-color: var(--widget-hover-background-color);
    cursor: pointer;
}
[widget-style=checkbox]:focus {
    color: var(--widget-focus-color);
    background-color: var(--widget-focus-background-color);
    border-color: transparent;
    outline-style: solid;
    outline-color: var(--outline-color);
    outline-width: var(--widget-outline-width);
}
[widget-style=checkbox]:disabled {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: none;
    font-size: var(--font-size);
    font-family: var(--font-family);
    text-decoration: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-disabled-color);
    background-color: var(--widget-disabled-background-color);
}


/***********************************************
 * Input Radio
 ***********************************************/
[widget-style=radio] {
    width: 32px;
    height: 32px;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-color);
    background-color: var(--widget-background-color);
    outline-color: var(--widget-outline-color);
}
[widget-style=radio]:hover {
    color: var(--widget-hover-color);
    background-color: var(--widget-hover-background-color);
    cursor: pointer;
}
[widget-style=radio]:focus {
    color: var(--widget-focus-color);
    background-color: var(--widget-focus-background-color);
    border-color: transparent;
    outline-style: solid;
    outline-color: var(--outline-color);
    outline-width: var(--widget-outline-width);
}
[widget-style=radio]:disabled {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: none;
    font-size: var(--font-size);
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--widget-disabled-color);
    background-color: var(--widget-disabled-background-color);
}


/***********************************************
 * Select
 ***********************************************/
[widget-style=scalarselect] {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    outline-width: var(--widget-outline-width);
    color: var(--widget-color);
    background-color: var(--widget-background-color);
    border-color: var(--widget-border-color);
}
[widget-style=scalarselect]:hover {
    color: var(--widget-hover-color);
    background-color: var(--widget-hover-background-color);
}
[widget-style=scalarselect]:focus {
    border-color: transparent;
    outline-style: solid;
    outline-color: var(--widget-focus-outline-color);
}
[widget-style=scalarselectdisabled] {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    outline-width: var(--widget-outline-width);
    color: var(--widget-disabled-color);
    background-color: var(--widget-disabled-background-color);
    border-color: var(--widget-disabledborder-color);
}


/***********************************************
 * Button Tag
 ***********************************************/
[widget-style=buttontag] {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-color);
    background-color: var(--widget-background-color);
    border-color: var(--widget-border-color);
}
[widget-style=buttontag]:hover {
    color: var(--widget-hover-color);
    background-color: var(--widget-hover-background-color);
    cursor: pointer;
}
[widget-style=buttontag]:focus {
    color: var(--widget-focus-color);
    background-color: var(--widget-focus-background-color);
    border-color: transparent;
    outline-style: solid;
    outline-color: var(--outline-color);
    outline-width: var(--widget-outline-width);
}
[widget-style=buttontagisabled] {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-disabled-color);
    background-color: var(--widget-disabled-background-color);
    border-color: var(--widget-disabled-border-color);
}


/***********************************************
 * Text Area
 ***********************************************/
[widget-style=textarea] {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-color);
    background-color: var(--widget-background-color);
}
[widget-style=textarea]:focus {
    border-color: transparent;
    outline-style: solid;
    outline-color: var(--widget-focus-outline-color);
    outline-width: var(--widget-outline-width);
}
[widget-style=select]:invalid {
    color: var(--widget-error-color);
    background-color: var(--widget-error-background-color);
    border-color: var(--widget-error-border-color);
}
[widget-style=textareadisabled] {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-disabled-border-width);
    border-radius: var(--widget-disabled-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-disabled-color);
    background-color: var(--widget-disabled-background-color);
}


/***********************************************
 * Scalar
 ***********************************************/
[widget-style=scalar] {
    width: calc(100% - 15px);
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-color);
    background-color: var(--widget-background-color);
    border-color: var(--widget-border-color);
}
[widget-style=scalar]:hover {
    color: var(--widget-hover-color);
    background-color: var(--widget-hover-background-color);
}
[widget-style=scalar]:focus {
    border-color: transparent;
    outline-style: solid;
    outline-color: var(--widget-focus-outline-color);
    outline-width: var(--widget-outline-width);
}
[widget-style=scalar]:invalid {
    color: var(--widget-error-color);
    background-color: var(--widget-error-background-color);
    border-color: var(--widget-error-border-color);
}
[widget-style=scalardisabled] {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-disabled-color);
    background-color: var(--widget-disabled-background-color);
    border-color: var(--widget-disabled-border-color);
}


/***********************************************
 * Scalar Checkbox
 ***********************************************/
[widget-style=checkbox] {
    width: 32px;
    height: 32px;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-color);
    background-color: var(--widget-background-color);
    outline-color: var(--widget-outline-color);
}
[widget-style=checkbox]:hover {
    color: var(--widget-hover-color);
    background-color: var(--widget-hover-background-color);
    cursor: pointer;
}
[widget-style=checkbox]:focus {
    color: var(--widget-focus-color);
    background-color: var(--widget-focus-background-color);
    outline-style: solid;
    outline-color: var(--outline-color);
    outline-width: var(--widget-outline-width);
}
[widget-style=checkbox]:disabled {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: none;
    font-size: var(--font-size);
    font-family: var(--font-family);
    text-decoration: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-disabled-color);
    background-color: var(--widget-disabled-background-color);
}


/***********************************************
 * Scalar Select
 ***********************************************/
[widget-style=scalarselect] {
    width: calc(100%);
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-color);
    background-color: var(--widget-background-color);
    border-color: var(--widget-border-color);
}
[widget-style=scalarselect]:hover {
    color: var(--widget-hover-color);
    background-color: var(--widget-hover-background-color);
}
[widget-style=scalarselect]:focus {
    border-color: transparent;
    outline-style: solid;
    outline-color: var(--widget-focus-outline-color);
    outline-width: var(--widget-outline-width);
}
[widget-style=scalarselectdisabled] {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
    outline-style: none;
    outline-radius: var(--widget-outline-radius);
    color: var(--widget-disabled-color);
    background-color: var(--widget-disabled-background-color);
    border-color: var(--widget-disabledborder-color);
}


/***********************************************
 * Stack
 ***********************************************/
[widget-style=stack] {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}


/***********************************************
 * Basic Table
 ***********************************************/
[widget-style=table-basic] {
    width: 100%;
    border-collapse: collapse;
}
[widget-style=table-basic-tbody] {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
[widget-style=table-basic-thead] {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
[widget-style=table-basic-tbody-tr] {
    padding: 0px;
    margin: 0px;
}
[widget-style=table-basic-thead-tr] {
    padding: 0px;
    margin: 0px;
}
[widget-style=table-basic-td] {
    padding-left:  6px;
    padding-right:  6px;
}
[widget-style=table-basic-th] {
    padding-left:  6px;
    padding-right:  6px;
}


/***********************************************
 * Hot Spot
 ***********************************************/
[widget-style=hotspot] {
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--widget-border-radius);
    border-color: var(--widget-border-color);
    outline-style: none;
    color: var(--widget-color);
    background-color: var(--widget-background-color);
    cursor:  pointer;
}
[widget-style=hotspot]:hover {
    color: var(--widget-hover-color);
    background-color: var(--widget-hover-background-color);
}


/***********************************************
 * Warm Spot
 ***********************************************/
[widget-style=warmspot] {
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--widget-border-radius);
    border-color: var(--widget-border-color);
    outline-style: none;
    color: var(--widget-color);
    background-color: var(--widget-background-color);
    cursor:  pointer;
}


/***********************************************
 * Cold Spot
 ***********************************************/
[widget-style=coldspot] {
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--widget-border-radius);
    border-color: var(--widget-disabled-border-color);
    outline-style: none;
    color: var(--widget-disabled-color);
    background-color: var(--widget-disabled-background-color);
    cursor:  pointer;
}


/***********************************************
 * Panel
 ***********************************************/
[widget-style=panel] {
    width: 100%;
    margin: 0px;
    padding: 0px;
}


/***********************************************
 * Ctls
 ***********************************************/
[widget-style=ctls-horz] {
    flex: 1;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
[widget-style=ctls-vert] {
    flex: 1;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
[widget-style=ctls-horz-ctl] {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}
[widget-style=ctls-vert-ctl] {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}
[widget-style=ctls-horz-ctl]:hover {
    color: var(--widget-hover-color);
    background-color: var(--widget-hover-background-color);
}
[widget-style=ctls-vert-ctl]:hover {
    color: var(--widget-hover-color);
    background-color: var(--widget-hover-background-color);
}
[widget-style=ctls-horz-ctl-disabled] {
    color: var(--widget-disabled-color);
    background-color: var(--widget-disabled-background-color);
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
}
[widget-style=ctls-vert-ctl-disabled] {
    color: var(--widget-disabled-color);
    background-color: var(--widget-disabled-background-color);
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
}


/***********************************************
 * Nav Bar
 ***********************************************/
[widget-style=navbar-horz] {
    display:  flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
[widget-style=navbar-vert] {
    display:  flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
[widget-style=navbar-info-horz] {
    flex: 3;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px;
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
[widget-style=navbar-info-vert] {
    flex: 3;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px;
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


/***********************************************
 * Menu
 ***********************************************/
[widget-style=popup-menu] {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--widget-border-radius);
    border-color:  var(--widget-border-color);
    padding: 10px;
    color: var(--menu-color);
    background-color: var(--menu-background-color);
}
[widget-style=popup-menu-item] {
    position: static;
    text-align: left;
    margin:  6px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: var(--menu-color);
    background-color: var(--menu-background-color);
}
[widget-style=popup-menu-item]:hover {
    color: var(--menu-hover-color);
    background-color: var(--menu-hover-background-color);
}
[widget-style=popup-menu-item-disabled] {
    color: var(--menu-disabled-color);
    position: static;
    text-align: left;
    border-radius: var(--widget-border-radius);
    margin:  6px;
    width: 100%;
    height: 100%;
}
